@use '../../shared/styles/tokens.scss' as *;

main.map-page{
  padding: 0;
  margin: 0;
  max-width: 100%;
  h1{
    position: absolute;
    top: 0;
    z-index: 1;
    color:$primary-700;
    text-align: center;
    width: 100%;
    padding-top: 1rem;  
    padding-bottom: 3rem;
    background: linear-gradient(180deg,rgba(255, 255, 255, .9) 0%, rgba(255, 255, 255, .5) 70%, rgba(255, 255, 255, 0) 100%);   
  }
  div#map{
    height: 100svh;
  }
  .filter-bar{  
    position: absolute;
    width: 100%;
    bottom: 120px;
    display: flex;
    justify-content: center;
    background: white;  
    padding: 1rem;
  }
  
}