@use '../styles/tokens.scss' as *;

.custom-dropdown{    
  font-family: $family-text;  
  .dropdown__label {
    display: block;
    font-size: $ft-siz-2x-small;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $primary-700;
    margin-bottom: 0.25rem;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    &__wrapper {
      position: relative;
      display: inline-block; 
    }

    &__button {
      font-family: $family-text;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $neutral-400;
      padding: 0.15rem 0.1rem 0.3rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;      
      text-align: left;
      gap: 0.5rem;
      font-size: $ft-siz-medium;
      color: $neutral-700;
      width: 100%;
      min-width: 200px;

      &:focus {
        outline: none;
      }

      &:disabled {
        opacity: 0.2;
        cursor: not-allowed;
      }
    }
    &__arrow {
      display: flex;
      transition: transform 0.2s ease;
  
      svg {
        color: $primary-500;
      }
    }
    &[aria-expanded="true"] {
      .dropdown__arrow {
        transform: rotate(180deg);
      }
    }
    &__error {
      color: $danger-500;
      font-size: 0.75rem;
      margin: 0.25rem 0 0 0;
    }

    &__menu {
      position: absolute;
      bottom: 100%;
      left: 0;
      margin-bottom: 0;
      background: $neutral-100;
      border: 0;
      border-radius: $rounded-sm $rounded-sm 0 0;
      list-style: none;
      padding: 0.25rem 0;
      min-width: 200px;
      max-height: 300px;
      overflow-y: auto;
      box-shadow: $shd-overlay;
      
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background: $primary-600;
        border-radius: 3px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $primary-400;
      }
    }

    &__option {
      padding: 0.5rem 0.75rem;
      cursor: pointer;
      font-size: $ft-siz-small;
      color: $neutral-700;
      font-weight: 400;

      &:hover {
        background-color: $neutral-200;
      }

      &[aria-selected="true"] {
        background-color: $neutral-300;
        font-weight: 400;
      }

      &--clear {
        border-bottom: 1px solid $neutral-300;
        padding-bottom: 0.75rem;
        margin-bottom: 0.25rem;
      }
    }
  }
}